{% load static %}

body{
	margin: 0;
	padding: 0;
	
	background-size: cover;
}
.site-headers{
	width: 100%;
	height: 25vh;
}

.menu{width: 100%; height: 49px;}

.menu a{ 
	float: left; text-decoration: none;
	color: #fff; padding: 14px 26px;
	font-size: 17px; font-weight: bold;
	text-transform: uppercase;
	transition: 0.6s all;
}

.menu a:hover{
	background-color: gray;
}
.menu .search{
	float: right;
}
.menu input[type=text]{
	padding: 6px;
	margin-top: 8px;
	border: none;
	font-size: 17px;
}


.box{
	width: 500px;
	background: rgba(0,0,0,0.2);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans serif;
}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box h2{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}

.box h5{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box p{
	text-align: justify;
}

header h3{
	font-size: 24px;
	font-family: 'Dokdo',cursive;
	text-align: center;

}
main{
	margin-left: 120px;
}

.boxx{
	display: block;
	float: left;
	width: 20%;
	padding: 10px;
	padding-left: 12px;
	overflow: hidden;
	border-radius: 5px;

}

img{
	width: 100%;
	border-radius: 5px;

}
img:hover{
	transform: scale(2,2);
	transition: 3s transform;
	border-radius: 5px;
}

/*Media Query*/
@media(max-width: 768px){
	header #branding .site-headers,
	header .menu a,
	#boxes .box

	{
		float: none;
		text-align: center;
		width: 100%;
	}

}