

<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'story_4/css/style.css'%}">
		<title>Personal Website</title>
	</head>
	<body background="{% static 'story_4/background.jpg' %}" no-repeat;>
	
	<header class="site-headers">
			<div class="menu">
				<a  href="{% url 'home' %}">Home</a>
				<a  href="{% url 'gallery' %}">Gallery</a>
				<a  href="{% url 'about' %}">About Me</a>
				<a  href="{% url 'contact' %}">Contact</a>
				<a href="{% url 'Schedule:sched_add' %}">Activity</a>
			</div>
	</header>
{% block content %}
{% endblock %}	
	</body>
</html>