{% extends "jadwal/base.html" %}
{% block content %}
<h1>{{ Schedule.title }}</p>
<p>{{ Schedule.day }}</p>
<p>{{ Schedule.date }}</p>
<p>{{ Schedule.time }}</p>
<p>{{ Schedule.location }}</p>
<p>{{ Schedule.category }}</p>
<p>{{ Schedule.description }}</p>
{% endblock %}