{% extends 'base.html' %}
{% load static %}
{% block content %}
	<hr/>	
	<main>
		<div class="boxx"><img src="{% static 'story_4/img/1.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/2.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/3.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/4.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/5.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/6.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/7.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/8.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/.9jpg' %}"></div>
	</main>
{% endblock %}