{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section>
			<div class="box">
				<img src="{% static 'story_4/profil.jpg' %}" alt="" class="box-img">
				<h2>Vikih Fitrianih</h2>
				<h5>Student - Information System</h5>
				<p>I'm a Student at Faculty of Computer Science of Universitas Indonesia. I like a challenges and something new. that so interesting.</p>
			</div>
	</section>
{% endblock %}	